/* CSS Document */

{
margin:0px;
padding:0px;
}
.head
{
background-color:#FBBC8E;
height:70px;
width:auto;
}
ul
{
  top margin:0px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  
 }
 a:hover
 {
 background-color:#00CC00;
 }

.p4 
{
height:30px;
width:auto;
  margin-left:none;
  text-align:right;
  vertical-align:text-top;
  background-color:#DFF87E;
  gap:4px;
  
}
.p4 a 
{
color:#000000;
font-size:18px;
margin-left:15px;
padding:3px;

}
.p5
{
float:left;
margin-top:10px;
}
.p6
{
height:520px;
width:515px;
background-color:#EABA55;
float:left;
margin-top:10px;
margin-left:15px;
}
.about
{
border:hidden;
margin-left:60px;
margin-right:60px;
}
.gallery
img
{

border-radius:40px;

}
.c1
{

margin-top:70px;
}
.feedback
{
margin-top:30px;
}
/*#login-box
{
position:relative;
margin: 5vh auto;
height:400px;
width:600px;
background:#fff;
top:0px;
left:0px;
padding:40px;
width:300px;
height:400px;
}
h1
{
margin:0 0 20px 0;
font-weight:300;
font-size:24px;
}
input[type="text"],
input[type="password"]
{
display:block;
box-sizing:border-box;
margin-bottom:20px;
padding:4px;
width:220px;
height:32px;
border:none;
outline:none;
border-bottom:1px solid #aaa;
font-weight:400;
font-size:16px;
transition:0.2s ease;
}
input[type="submit"]
{
margin-bottom:28px;
width:120px;
height:32px;
background:#C51220;
border:none;
border-radius:2px;
color:#FFFFFF;
font-weight:500;
text-transform:uppercase;
tansition:0.2s ease;
cursor:pointer;
}
input[type="submit"]:hover,
input[type="submit"]:focus
{
background:#000000;
tansition:0.2s ease;
}
*/body
{
background-image:url();
background-repeat:no-repeat;
background-attachment:fixed;
background-size:cover;
}
p
{
color:#FFFFFF;
}